body {
    margin: 0px;
    display: flex;
    background-color: lightgreen;
    height: 100vh;
}

aside {
    /*flex: 0 0 15%;*/
    min-width: 200px;
    max-width: 200px;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    vertical-align: text-top;
    padding: 1rem;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
}

p{
    margin: 0;
    margin-top: 12px;
}

p#log {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: darksalmon;
}

audio#bg-music {
    -webkit-media-controls {
        display: none;
    }
}

div#inputs {
    background-color: blue;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    box-sizing: border-box;
}

section#background {
    flex: 1;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#background img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: contain;
    background-color: green;
}
