aside {
    position: absolute;
    margin-left: 5%;
    margin-right: 5%;
    width: 20%;
    height: 100%;
    background-color: red;
    min-width: 256px;
}

section {
    position: absolute;
    float: right;
    width: 60%;
    height: 100%;
    background-color: lightblue;
    margin: 10px;
    margin-left: 300px;
}

input#input {
    position: absolute;
    bottom: 64px;
    background-color: blue;
}

input#submit {
    position: absolute;
    margin-top: 4px;
    background-color: aqua;
}