<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../css/terminal.css">
    <script src = "../js/terminal.js" defer></script>
    <title id = "title">Noob Stop</title>
    <body>
        <aside id = "interface">
            <p id = "log">
                placeholder text
            </p>
            <p id = "choices">
                1: punch the air<br>
                2: try to leave<br>
                3: give up
            </p>
            <div id = "inputs">
                <input type = "text" id = "input" placeholder = "Input Command">
                <input type = "submit" id = "submit">
            </div>
        </aside>
        <section id = "background">
            <img src = "../backgrounds/base.png" id = "background" alt = "Looks a lot like last year's Thanksgiving.">
        </section>
    </body>
</html>