<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../css/terminal.css">
    <title id = "title">Noob Stop</title>
    <body>
        <aside id = "interface">
            <p id = "log">
                The employee stares at you absently.<br>
                * Hello and welcome to Noob Stop.<br>
                * Zzz...<br>
                * soooo sleepy...
            </p>
            <div id = "inputs">
                <input type = "text" id = "input" placeholder = "Input Command">
                <input type = "submit" id = "submit">
            </div>
        </aside>
        <section id = "background">
            <img src = "../backgrounds/base.png" id = "background" alt = "Looks a lot like last year's Thanksgiving.">
        </section>
    </body>
</html>