<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../css/terminal.css">
    <script src = "../js/terminal.js" defer></script>
    <title id = "title">Goob Stop</title>
    <body>
        <aside id = "interface">
            <p id = "log">Goob Stop</p>
            <p>Options:</p>
            <ol id = "choices">
                <li>Wait</li>
            </ol>
            <br>
            <div id = "inputs">
                <input type = "text" id = "input" placeholder = "Input Command">
                <input type = "submit" id = "submit">
            </div>
        </aside>
        <section id="background">
            <img src="../images/backgrounds/base.png" id="backgroundImage" alt="Background">
        </section>
        <aside id = "information">
            <p id = "stats">There's important information here... Or, at least, there was supposed to be.</p>
        </aside>

        <audio id="bg-music" autoplay loop>
            <source src="../audio/theme of a shop that sells things you dont want.mp3" type="audio/mpeg">
        </audio>
    </body>
</html>